.banner {
  background-color: black;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 3rem;
  box-sizing: border-box;
  background-position: center center;
}

.banner::after {
  content: '';
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  position: absolute;
  background: black;
  opacity: 0.3;
}

.bannerContents > h1 {
  color: white;
  font-size: 3rem;
  width: 50%;
  z-index: 10;
  margin-left: 1rem;
}

.bannerContents > p {
  color: white;
  font-size: 1rem;
  width: 45rem;
  z-index: 10;
  letter-spacing: 1.2px;
  word-spacing: 1.3px;
  margin-left: 1rem;
  font-weight: 100;
  max-width: 550px;
}

.bannerContents > div {
  display: flex;
}

.bannerContents > div > button {
  padding: 0.8rem;
  width: 110px;
  outline: none;
  border: none;
  z-index: 10;
  border-radius: 5px;
  margin: 1rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s;
}

.bannerContents > div > button:nth-child(odd){
  background-color: rgba(248, 245, 245, 0.733);
  width: 140px;
}
.bannerContents > div > button:nth-child(even){
  background-color: rgba(51, 51, 51, 0.63);
  color: white;
}

.bannerContents > div > button:nth-child(odd):hover {
  background-color: white;
}
.bannerContents > div > button:nth-child(even):hover{
  background-color: rgb(248, 247, 247);
  color: black;
}

.bannerContents > div > button > svg{
  font-size: 1.4rem;
  margin: 0 5px;
}

.row {
  padding: 1rem;
  background-color: black;
}

.row > div {
  display: flex;
  justify-content: space-evenly;
  overflow-x: auto; /* horizontal scroll bar is many pics don't fit the screen */
}

.row > h2 {
  color: white;
  font-weight: 400;
  margin: 0.3rem;
}

.card {
  width: 150px;
  cursor: pointer;
  transition: transform 0.5s;  /* highlighting speed */
  margin: 0.5rem;
  border-radius: 5px;
}

.card:hover {
  transform: translateY(-10px) scale(1.1);  /* card highlights when hovered */
}

.genreBox {
  overflow-x: auto;
  display: flex;
  background-color: black;
  height: 75px;
}

.genreBox > a {
  color: black;
  background-color: rgba(226, 220, 220, 0.534);
  padding: 1rem 0;
  margin: 1rem;
  border-radius: 5px;
  transition: all 0.5s;
  min-width: 7rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.genreBox > a:hover {
  background-color: rgba(236, 236, 236, 0.822);
}